:root {
  --color-denim: #022959;
  --color-gray: #9699AA;
  --color-light-gray: #D6D9E6;
  --color-very-light-gray: #F8F9FF;
  --color-bg: #EFF5FF;
  --color-border-color: #D6D9E6;
  --color-light-blue: #ABBCFF;
  --color-sky-blue: #BEE2FD;
  --color-orange: #FFAF7E;
  --color-pink: #F9818E;
  --color-purple: #483EFF;
  --color-red: #EE374A;
  --showdow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-bg);
}

@media screen and (min-width: 700px) {
  body {
    padding: 0 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 700px) {
  main {
    max-width: 94rem;
    background: #fff;
    box-shadow: var(--showdow);
    border-radius: 1.5rem;
    position: static;
    display: grid;
    height: auto;
    padding: 1.6rem;
    grid-template-columns: minmax(20rem, 27.4rem) minmax(40rem, auto);
    grid-template-rows: auto 10.4rem;
    height: 60rem;
  }
}

/* components */
button {
  user-select: none;
}

button:active {
  transform: translateY(2px);
}

.step-nav {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/multi-step-form/bg-sidebar-mobile.svg');
  height: 45.867vw;
  max-height: 23rem;
}

.step-nav__detail {
  display: none;
}

@media screen and (min-width: 700px) {
  .step-nav__detail {
    display: flex;
    margin-left: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
  }

  .step-nav__detail span:last-of-type {
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: .1rem;
  }
}

@media screen and (min-width: 700px) {
  .step-nav {
    max-height: none;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    height: 100%;
    border-radius: 1rem;
    background-image: url('/images/multi-step-form/bg-sidebar-desktop.svg');
  }
}

.step-nav__container {
  gap: 1.6rem;
  max-width: 18rem;
  margin: 0 auto;
  padding-top: 3.2rem;
}

@media screen and (min-width: 700px) {
  .step-nav__container {
    gap: 3.2rem;
    padding-top: 4rem;
    flex-direction: column;
    max-width: 16rem;
  }
}

.nav-btn {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  border: 1px solid #fff;
}

.nav-btn.current {
  color: var(--color-denim);
  border-color: var(--color-sky-blue);
  background-color: var(--color-sky-blue);
}

.steps {
  padding: 0 1.6rem;
  position: absolute;
  top: 9.9rem;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .steps {
    position: static;
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

.steps__container {
  background-color: #fff;
  box-shadow: var(--showdow);
  border-radius: 10px;
  max-width: 40rem;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .steps__container {
    box-shadow: none;
    border-radius: 0;
    max-width: 45rem;
  }
}

.actions {
  left: 0;
  bottom: 0;
  right: 0;
  height: 7.2rem;
  position: absolute;
  background-color: #fff;
}

@media screen and (min-width: 700px) {
  .actions {
    position: static;
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 0 1.6rem;
    height: 10.4rem;
  }
}

.actions__container {
  width: 100%;
  height: 100%;
  padding: 0 1.6rem;
}

@media screen and (min-width: 700px) {
  .actions__container {
    max-width: 45rem;
    margin: 0 auto;
  }
}

.actions button {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  border-radius: .8rem;
  height: 4.8rem;
  width: 12.3rem;
}

.back-btn {}

.next-btn {
  margin-left: auto;
  background-color: var(--color-denim);
}

.confirm-btn {
  margin-left: auto;
  background-color: var(--color-purple);
}

/* utils */
.t-heading {}

.t-body-l {}

.t-body-m {}

.t-body-s {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.t-light-blue {
  color: var(--color-light-blue);
}

.t-white {
  color: #fff;
}

.t-gray {
  color: var(--color-gray);
}