:root {
  --transition: 300ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

button {
  all: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  transition: var(--transition) color, var(--transition) background-color;
}

picture {
  display: flex;
}

.animation-in {
  animation-duration: 0.3s, 0.3s;
  animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1),
    cubic-bezier(0, 0, 1, 1);
  animation-delay: 0s, 0s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  animation-fill-mode: both, both;
  animation-play-state: running, running;
  animation-name: contentSlideIn, contentFadeIn;
}

.animation-left {
  animation-duration: 0.4s, 0.3s;
  animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1),
    cubic-bezier(0, 0, 1, 1);
  animation-delay: 0s, 0s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  animation-fill-mode: both, both;
  animation-play-state: running, running;
  animation-name: contentLeft, contentFadeIn;
}

.horizontal-shake {
  animation: horizontal-shaking 0.35s 2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes contentLeft {
  from {
    transform: translate3d(-40px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes contentSlideIn {
  from {
    transform: translate3d(0, 48px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes contentFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}