html {
  background-image: url('/grid.svg');
  background-attachment: fixed;
}
body {
  font-size: 1.6rem;
  padding-top: 2.4rem;
  font-family: 'Space Mono', monospace;
}

main {
  margin: 0 auto;
  max-width: 72rem;
  padding: 1.6rem;
}

ul.solutions {
  gap: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 2.4rem 0;
  justify-content: space-between;
}

ul.solutions .solution {
  width: 100%;
  max-width: 32rem;
}

ul.solutions .solution img {
  width: 100%;
}